<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css" media="print">
.faktura_wrapper{position: absolute; top: 0; left: 0; height: 29.7cm; }
.faktura_text{position: relative; top: 6cm; left: 0.7cm;}
.pdf_header{position: absolute; top: 0; left: 0; width: 21cm; }
.company_info{position: relative; top: -4cm; left: 14cm; }
.company_info tr td{color: #ffffff; font-size: 12px;padding-right: 0.5cm;}
.hvit { background: white; font-size: 10px;}
.litentekst { font-size: 6pt; font-weight: bold; }

.gultfelt { position: absolute; top: 25cm; left: 0.7cm; width: 21cm; height: 10.6cm; background: yellow; } /* absolutt */
.gultfelt .beloptop { top: 0.8cm; }

.gultfelt .krvenstre { left: 7.5cm; width: 2.9cm; }
.gultfelt .kvitteringtopp { height: 2cm; }
.gultfelt .kvitteringtopp .kvitteringtoptekst {  margin-left: 1cm; font-family: verdana; padding-top: .1cm; font-size: 10pt; font-weight: bold; }
.gultfelt .kvitteringtopp .felttekst {  margin-left: .2cm; font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringtopp .feltboks { font-size: 15px;height: .6cm;  padding-top: .1cm; margin-top: .1cm; text-align: center; }
.gultfelt .kvitteringtopp .innbetaltkonto { margin-left: 1cm; float: left; width: 3cm; }
.gultfelt .kvitteringtopp .belop { margin-left: 3.8cm; float: left; width: 3.8cm; }
.gultfelt .kvitteringtopp .betalerkonto { margin-left: 1cm; float: left; width: 4cm; }
.gultfelt .kvitteringtopp .blankett { margin-left: .2cm; float: left; width: 3cm; }

.gultfelt .kvitteringmidt  { height: 6cm; background: white; }
.gultfelt .kvitteringmidt .betalingsinfogiro { height: 3cm; width: 19cm; padding: 0 .5cm; }
.gultfelt .kvitteringmidt .betalingsinfogiro .tekstgirofrist { clear: both; }
.gultfelt .kvitteringmidt .betalingsinfogiro .betalingsinfotekst {
    float: left; width: 3cm; margin-left: .2cm; height: .4cm; font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringmidt .betalingsinfogiro .girotekst {
    float: left; width: 1.2cm;  margin-left: 7.5cm; font-family: verdana; padding-top: .1cm; font-size: 10pt; font-weight: bold;
}
.gultfelt .kvitteringmidt .betalingsinfogiro .betalingsfristtekst {
    float: left; width: 1.3cm; margin-left: 3.5cm; font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold;
}
.gultfelt .kvitteringmidt .betalingsinfogiro .betalingsinfo {
    float: left; width: 8.5cm; padding-top: .1cm; font-size: 10pt;
}
.gultfelt .kvitteringmidt .betalingsinfogiro .signatur {
    float: left; width: 8.5cm; margin-left: 2cm; font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold;
}
.gultfelt .kvitteringmidt .betalingsinfogiro .betalingsfristboks {
    float: left; padding-top: .1cm; margin-left: .2cm;
} 
.gultfelt .kvitteringmidt .betalingsinfogiro .betalingsinfoboks {
    height: 1.6cm;  padding-left: 0.5cm; padding-top: 0.2cm; margin-top: 0.4cm; border: dotted 1px #cccccc; }
.gultfelt .kvitteringmidt .betalingsinfogiro .signaturtekst {
    font-family: verdana; margin-left: .2cm; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringmidt .betalingsinfogiro .signaturboks {
    height: 1.8cm; border: dotted 1px #cccccc; }

.gultfelt .kvitteringmidt .betalttilav .avtilboks {
    height: 2.1cm; width: 8.5cm; border: dotted 1px #cccccc; font-size: 10pt; padding-left: 0.5cm; }
.gultfelt .kvitteringmidt .betalttilav { width: 19cm; padding: 0 .5cm; }
.gultfelt .kvitteringmidt .betalttilav .av, .kvitteringmidt .betalttilav .til {
    height: 2.5cm; width: 8.5cm; }
.gultfelt .kvitteringmidt .betalttilav .avtiltekst {
    margin-left: .2cm; height: .4cm; font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringmidt .betalttilav .avtilboks {
    height: 1.9cm; padding-top: 0.2cm; width: 8cm; border: dotted 1px #cccccc; }
.gultfelt .kvitteringmidt .betalttilav .av { float: left; }
.gultfelt .kvitteringmidt .betalttilav .til { float: right; }

.gultfelt .kvitteringbunn  { height: 2.3cm; }
.gultfelt .kvitteringbunn .belast { height: .8cm; margin-left: 3cm;  }
.gultfelt .kvitteringbunn .belast .belasttekst {
    float: left; width: 1cm;  font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringbunn .belast .kvitteringtekst {
    margin-left: 6.8cm; float: left; width: 1.4cm;  font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringbunn .belast .belastrute, .gultfelt .kvitteringbunn .belast .kvitteringrute {
    height: .5cm; width: .5cm; margin: .1cm .1cm 0 0; float: left; background: white;  }

.gultfelt .kvitteringbunn .kidsumkonto { padding-left: .2cm; padding-top: 0.3cm; height: 1.4cm;  background: white; }
.gultfelt .kvitteringbunn .felttekst {  margin-left: .2cm; font-family: verdana; padding-top: .1cm; font-size: 6pt; font-weight: bold; }
.gultfelt .kvitteringbunn .feltboks{  padding-top: .1cm; margin-top: .1cm; text-align: center; padding-bottom: 0.3cm; }

.gultfelt .kvitteringbunn .kid { float: left; width: 7cm; border-left: solid 1pt black; }
.gultfelt .kvitteringbunn .kroner { padding-right: .2cm; float: left; width: 2.3cm;  border-left: solid 1pt black;  }
.gultfelt .kvitteringbunn .kroner .feltboks { text-align: right; }
.gultfelt .kvitteringbunn .ore { border-left: solid 1pt yellow; float: left; width: 2.5cm; }
.gultfelt .kvitteringbunn .ore .feltboks { padding-left: .2cm; text-align: left; }

.gultfelt .kvitteringbunn .konto { float: left; width: 3.5cm; }
.gultfelt .kvitteringbunn .blankettnummer { float: left; width: 3.5cm; }

</style>
</head>
<div style="width: 22cm; height: 201px; background: #000024" class="pdf_header">
  <%= image_tag( "http://teatercamp.no/images/logo.png") %>

		<table class="company_info" border="0">
			
			<tr>
				<td>Andreas Lyngstad</td>
				<td>Org.nr: NO 985002975 MVA</td>	
			</tr>
			<tr>
				<td>Åsheimkroken 106</td>
				<td>Telefon: 92444014</td>	
			</tr>
			<tr>
				<td>1820 Spydeberg</td>
				<td>Epost: andreas@lizz.no</td>	
			</tr>
			<tr>
				<td></td>
				<td>Kontonr: 1503 10 28598</td>	
			</tr>
		</table>	
	
</div>
  </div>
<div class="faktura_wrapper">
	
<div class="faktura_text">
		
<h1>Faktura</h1>

<table class="invoice_show" border="0" cellspacing="5" cellpadding="10" >
	<tr><td>Faktura nummer</td>
		<td><%= @invoice.number %></td>
		<td>Faktura dato</td><td><%=   @invoice.made_date.strftime('%d.%m.%Y') %></td>
	</tr>
	<tr><td>Deltager</td><td><%= @invoice.registration.name %></td><td>Faktura forfall</td><td><%=   @invoice.pay_by.strftime('%d.%m.%Y') %></td></tr>
	<tr><td>Faktura epost</td><td><%= @invoice.registration.billing_email %></td></tr>
	<tr><td>Kurs</td><td><%= @invoice.registration.camp.name %></td></tr>
	<tr><td>Fra <%= @invoice.registration.camp.begin.strftime('%d.%m.%Y')%></td><td>Til <%= @invoice.registration.camp.end.strftime('%d.%m.%Y') %></td></tr>

	<tr style="font-weight: bold;"><td style=" text-align: left;">Produkter</td>
		<td style=" text-align: right;">Pris</td>
		<td style=" text-align: right;">MVA</td>
		<td style=" text-align: right;">Pris ink MVA</td>
		<td style=" text-align: right;">MVA %</td>
		</tr>
	<% @invoice.registration.camp.products.each do |product| %>
	<tr><td><%= product.description %></td>
		<td style="text-align: right;"><%= number_to_currency(product.eks_vat) %></td>
		<td style="text-align: right;"><%= number_to_currency(product.vat_in_currency) %></td>
	
		<td style="text-align: right;"><%= number_to_currency(product.total_price) %></td>
		<td style="text-align: right;"><%=  number_to_percentage(product.vat) %></td>
		</tr>
	
	<% end -%>
	<tr><td style="border-top: 1px solid #000;">Total</td>
	<td style="text-align: right;border-top: 1px solid #000;"><%= number_to_currency(@invoice.registration.camp.total_eks_vat) %></td>
	<td style="text-align: right;border-top: 1px solid #000;"><%= number_to_currency(@invoice.registration.camp.total_vat) %></td>
	

	<td style="text-align: right;border-top: 1px solid #000;"><%= number_to_currency(@invoice.registration.camp.products.sum(:total_price)) %></td>
	<td></td>
	</tr>
	
	
</table>
</div>
 <div class="gultfelt">
            <div class="kvitteringtopp">
                <div class="kvitteringtoptekst">
                    Kvittering
                </div>
                <div class="kvitteringfelter">
                    <div class="innbetaltkonto">
                        <div class="felttekst">
                            Innbetalt til konto
                        </div>
                        <div class="feltboks">
                            1503 10 28598
                        </div>
                    </div>
                    <div class="belop">
                        <div class="felttekst">
                            Beløp
                        </div>
                        <div class="feltboks hvit">
                          <%= number_to_currency(@invoice.registration.camp.products.sum(:total_price)) %>
                        </div>
                    </div>
                    <div class="betalerkonto">
                        <div class="felttekst">
                            Betalerens kontonummer
                        </div>
                        <div class="feltboks hvit">
                         
                        </div>
                    </div>
                    <div class="blankett">
                        <div class="felttekst">
                            Blankettnummer
                        </div>
                        <div class="feltboks hvit">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="kvitteringmidt">
                <div class="betalingsinfogiro">
                    <div class="tekstgirofrist">
                        <div class="betalingsinfotekst">
                            Betalingsinformasjon
                        </div>
                        <div class="girotekst">
                            GIRO
                        </div>
                        <div class="betalingsfristtekst">
                            Betalings- frist
                        </div>
                        <div class="betalingsfristboks">
                          <%=   @invoice.pay_by.strftime('%d.%m.%Y') %>
                        </div>
                    </div>
                    <div class="infosignatur">
                        <div class="betalingsinfo">
                            <div class="betalingsinfoboks">
                                Fakturanummer: <%= @invoice.number %><br/>
                             
                            </div>
                        </div>
                        <div class="signatur">
                            <div class="signaturtekst">
                                Underskrift ved girering
                            </div>
                            <div class="signaturboks">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="betalttilav"> 
                    <div class="av">
                        <div class="avtiltekst">
                            Betalt av
                        </div>
                        <div class="avtilboks">
                            <%= @invoice.registration.name %><br/>
                            <%= @invoice.registration.billing_email %><br/>
                          
                        </div>
                    </div>
                    <div class="til">
                        <div class="avtiltekst">
                            Betalt til
                        </div>
                        <div class="avtilboks">
                            Andreas Lyngstad<br/>
                            Åsheimkroken 106<br/><br/>
                            1820 Spydeberg
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="kvitteringbunn">
                <div class="belast">
                    <div class="belasttekst">
                        Belast konto
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="belastrute">
                    </div>
                    <div class="kvitteringtekst">
                        Kvittering tilbake
                    </div>
                    <div class="kvitteringrute">
                    </div>
                </div>
                <div class="kidsumkonto">
                    <div class="kid">
                        <div class="felttekst">
                            Kundeidentifikasjon (KID)
                        </div>
                        <div class="feltboks">
                           
                        </div>
                    </div>    
                    <div class="kroner">
                        <div class="felttekst">
                            Kroner
                        </div>
                        <div class="feltboks">
                           <%= number_to_currency(@invoice.registration.camp.products.sum(:total_price)) %>
                        </div>
                    </div>
                    <div class="ore">
                        <div class="felttekst">
                            Øre
                        </div>
                        <div class="feltboks">
                           00 &lt;  &gt;
                        </div>
                    </div>
                    <div class="konto">
                        <div class="felttekst">
                            Til konto
                        </div>
                        <div class="feltboks">
                            1503 10 28598
                        </div>
                    </div>
                    <div class="blankettnr">
                        <div class="felttekst">
                            Blankettnummer
                        </div>
                        <div class="feltboks">
                            &lt; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &gt;
                        </div>
                    </div>  
                </div> 
            </div> 
        </div>
</div>