
<div id="index_wr">
<% tes = 3  %>
<% @pages.roots.each do |page|  %>
<div style='background:url(..<%=page.nav_photo.to_s %>) no-repeat;' class="images item" id="image_<%= tes += 1%>" >
	<%= link_to( "", view_page_path(page.name)) %>	
	<div><%= page.navlabel %></div>
</div>
<% end  %>

<div style='background:url(..<%=@option.blogg_photo.to_s %>)' class="images item" id="image_1"><%= link_to "", view_blogg_path %>
	<div>Nyheter</div>
</div>

<div style='background:url(..<%=@option.camp_photo.to_s %>)' class="images item" id="image_2"><%= link_to "", view_camps_path %>
	<div>Kurs</div>
</div>
<p class="qoute item" id="quote1"><%= @option.quote1 %></p>
<p class="qoute item" id="quote2"><%= @option.quote2 %></p>
<p class="qoute item" id="quote3"><%= @option.quote3 %></p>
</div>