<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script src="https://use.typekit.net/wbb7cyk.js"></script>
	<%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="title" content="<%= @app_name %>: <%= @page_title %>"/>
  <meta name="keywords" content="<%= @meta_key %>" /> 
  <meta name="description" content="<%= @meta_des %>" /> 

  <title><%= @app_name %>: <%= @page_title %></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" media="screen" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "jquery.fullPage","application" %>
 <%=  javascript_include_tag "jquery-2.2.0.min","jquery_ujs","jquery.tablesorter.min","jquery.quicksearch","jquery.fullPage.min","application" %>
 
</head>
<body>	
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	


<ul id="menu">
	<% @parents.each do |page| %>
	<li data-menuanchor="<%= page.title %>"><a href="#<%= page.title %>"><%= page.name %></a></li>
<% end %>
	<li data-menuanchor="kurs" class="active"><a href="#kurs">Kurs</a></li>
	<li data-menuanchor="news"><a href="#news">Nyheter</a></li>
	<%if logged_in?%>
		<li><%= link_to "Logg ut","/logout" %></li> 
		<li><%= link_to( "Til CMS", cms_path) %></li> 
				
			<%end%>
		
</ul>
<div class="fb-follow" data-href="https://www.facebook.com/teatercamp" data-layout="button_count" data-show-faces="true"></div>
<div id="fullpage">
	<% x = 0 %>
		<% @pages.each do |page| %>
		<% x = x + 1 %>
		<div class="section" id="section<%= x %>" data-anchor="<%= page.title %>">
		 <%= markdown(page.body )%>
		</div>
	<% end %>
		
	<div class="section" id="section5" data-anchor="kurs">
		<% @camps.each do |camp| %>
		<div class="square" id="<%= camp.id %>">
	    <div class="content">
	        <div class="table">
	          <div class="table-cell">
	            <h2><%= camp.name %></h2>
	            <%=h camp.begin.strftime('%d.%m.%Y') %> - 
	            <%=h camp.end.strftime('%d.%m.%Y') %><br/>
	            Alder <%=h camp.age1 %> - <%=h camp.age2 %> år<br/>
	            <%= markdown(camp.description)%>
	            <%= number_to_currency(camp.products.sum(:total_price)) %>
	            <% if camp.registrations.count < camp.participants %> 
		    				<%= link_to("Meld deg på", new_registration_path(:id => camp) )%>
		 					<% else %>
					 			<%= link_to("Venteliste", new_registration_path(:id => camp) )%>
							<%end%>
	          </div>
	        </div>
	    </div>
	</div>
		
	<% end %>
	</div>
	<div class="section" id="section<%= x + 2%>"  data-anchor="news">

	<% for post in @posts %>
    <div class="slide">
    	<div class='inside_slider'>
        <h2><%=post.title %></h2>
        <p><%= post.lead %></p>
        <p><%= post.content %></p>
      </div>
	</div>
    <% end %>
</div>
<!-- start footer -->
<!-- <div id="footer">
	<div id="footer_wrapper">&#169; Teater|camp - t. 92056833 m. tiril@teatercamp.no</div>
</div> -->

</body>
</html>
 